* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

nav {
    position: sticky;
    top: 0px;
    z-index: 1000px;
    display: flex;
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.links {
    column-gap: 30px;
}

.links img {
    margin-bottom: 8px;
}

.nav-links {
    display: flex;
    list-style-type: none;
    column-gap: 20px;

}

.nav-links li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #005BD4;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links li:hover::after {
    width: 100%;
}

/* .nav-item.active:hover{
    border-bottom: 4px solid #005BD4;

} */
/* .nav-item.active:hover::after {
    content: "doyin";
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    color: #005BD4;
    bottom: 0px;
} */
.nav-item {
    position: relative;
}

.nav-item,
.mobilenav-item {
    padding: 5px;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-flex {
    display: flex;
    justify-content: center;
    column-gap: 1.9rem;
    /* align-items: center; */
}

.more-section .flex {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
    align-items: center;
}

.more-section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    width: 80%;
    /* padding-bottom: 80px; */
    padding: 0px 11rem 80px;
}

.more-heading {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #1D2B4F;
}

.more-subhead {
    padding-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    color: #788096;
}

.centered-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blue-btn {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    background-color: #005BD4;
    border-radius: 12px;
    color: #fff;
    outline: none;
    border-style: none;
    padding: 20px 30px;
}

.gap-sm {
    column-gap: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.hero-section {
    height: 671px;
    position: relative;
    width: 100vw;
    background: linear-gradient(64.9deg, #F5F5F5 23%, rgba(245, 245, 245, 0) 78.08%);
}

.hero-content {
    padding-top: 100px;
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}

.hero-content div {
    width: 50%;
}

.hero-light {
    max-width: 540px;
    padding-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #788096;
}

.hero-heading {
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    overflow: hidden;
    padding: 10px 0px;
    font-size: 50px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #1D2B4F;
}

.heading-sm {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #1FCC8E;
}

.img-class {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.transparent-btn {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #1D2B4F;
    background-color: transparent;
    outline: none;
    border-style: none;
    padding: 20px 30px;
}

.learn-more-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 35px;
    color: #0E63F4;
    background-color: transparent;
    outline: none;
    border-style: none;
    padding: 20px 30px;
}

.vector {
    position: absolute;
    bottom: 0px;
    right: 15px;
}

.overview-section {
    padding: 4rem 12rem;
    position: relative;
}

.vector-one {
    position: absolute;
    bottom: 30px;
    left: 768px;
}

.vector-two {
    position: absolute;
    bottom: 70px;
    left: 500px;

}

.overview-heading {
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 46px;
    color: #253858;
}

.menu {
    display: none;
    width: 30px;
    height: 30px;
}

.steps,
.step-counter,
.step-text {
    display: flex;
    justify-content: space-between;
}

.steps,
.step-counter {
    padding: 6px 12rem;
}


.description {
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #253858;
    padding-bottom: 92px;
    padding-top: 0px;
    padding-left: 11rem;
    padding-right: 12.75rem;
}

.description span {
    font-weight: 600;
}

.count {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #253858;
    border: 1px solid #D7E4F8;
    padding: 4px 10px;
    border-radius: 50%;
    background-color: #fff;
}

.step-header {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #253858;
}

.step-text {
    padding: 20px 0px;
}

.text-center {
    text-align: center;
}

.step-text div {
    width: 30%;
    padding: 0px 10px;
}

.services-section {
    background: #EAF1F9;
}

.service-inner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    width: 90%;
    padding-bottom: 80px;
    padding-top: 80px;
}

.service-heading {
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    padding-top: 10px;
    padding-bottom: 40px;
    align-items: center;
    text-align: center;
    color: #1D2B4F;
}

.top {
    height: 280px;
    overflow: hidden;
}

.card {
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 76px -7px rgba(21, 65, 174, 0.1);
    width: 350px;
    height: 540px;
    box-sizing: border-box;
    transition: all 1.5s ease-in-out;
    /* overflow: hidden; */
}

.h-auto {
    height: auto !important;
}

.card-info {
    padding: 2rem;
}

.card-header {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #1D2B4F;
}

.card-text {
    font-size: 16px;
    line-height: 35px;
    color: #788096;
}

.moreText {
    display: none;
}

.ig {
    background-color: #fff;
    text-align: center;
    width: 35px;
    height: 35px;
    /* padding-top: 10px; */
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.04);
}

.card .show-more {
    display: inline;
    height: auto !important;
}

.bg-white {
    background-color: #fff;
}

.last-section {
    background-color: #EAF1F9;
    position: relative;
    padding-top: 100px;
    padding-bottom: 250px;
    text-align: center;
}

.last-section-inner {
    margin: 0 auto;
    width: 80%;
}

.newsletter {
    position: absolute;
    top: 300px;
    background: #0E63F4;
    border-radius: 15px;
    color: #fff;
    padding: 100px 12rem;
    width: 80%;
    margin: 0 auto 80px;
}

.newsletter-head {
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 37.5px;
    line-height: 49px;
    text-align: center;
    letter-spacing: -1.5px;
    color: #FFFFFF
}

.newsletter-subhead {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.white-btn {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 12px;
    color: #0F63F2;
    padding: 15px 25px;
    background-color: #FFFFFF;
    border: 1px solid #0F63F2;
    box-shadow: -15px 22.5px 37.5px rgba(28, 68, 86, 0.2);
    border-radius: 18.75px;
}

::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.mobile-div {
    display: none;
}

.mobile-links img {
    display: none;
}

form {
    opacity: 0.65;
    border: 0.75px solid #FFFFFF;
    filter: drop-shadow(0px 22.5px 37.5px rgba(0, 37, 219, 0.301961));
    border-radius: 26.25px;
    background-color: transparent;
    width: 456px;
    height: 52.5px;
    margin: 30px auto 0px;
    background: #0E63F4;

}

form input {
    background-color: transparent;
    outline: none;
    border-style: none;
    align-content: flex-start;
    width: 70%;
    padding-left: 16px;
}

.app-store-img {
    margin-top: 20px;
}

.footer {
    margin: 230px auto 0px;
    width: 80%;
    column-gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.socials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.card-text.show-more .moreText {
    display: inline;
}

.socials img {
    filter: drop-shadow(0px 5px 14px rgba(0, 0, 0, 0.07));
}

.footer div {
    padding: 0px 20px;
}

.no-underline {
    text-decoration: none;
}

.address {
    padding: 0px 10px;
}

.footer-logo {
    margin-bottom: 10px;
}

.footer-heading {
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    color: #202224;
}

.footer-text {
    font-size: 14px;
    line-height: 24px;
    color: #202224;
}

.small {
    font-size: 14px;
    line-height: 15px;
    color: #202224;
}

.copyright {
    font-size: 14px;
    line-height: 15px;
    margin-top: 40px;
    padding-bottom: 40px;
    color: #FFFFFF;
    background-color: #0E63F4;
    padding: 25px 0px;
    text-align: center;
}

.description-notes {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #253858;
}

.get-app {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: #253858;
}

.get-app-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #253858;
}

@media screen and (max-width:1024px) {
    .menu {
        display: none;
    }

    .hero-heading {
        font-size: 40px;
        line-height: 50px;
    }

    .hero-content {
        padding-top: 40px;
    }

    .vector {
        bottom: -56px;
    }

    .steps,
    .step-counter {
        padding: 6px 4rem;
    }

    .description {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .overview-section {
        padding: 1rem 3rem;
    }

    .step-header {
        font-size: 20px;
    }

    .description-notes {
        font-size: 13px;
    }

    .count {
        font-size: 13px;
    }

    .service-heading {
        font-size: 30px;
    }

    .card-header {
        font-size: 20px;
    }

    .card-text {
        font-size: 14px;
        line-height: 28px;
    }

    .learn-more-btn {
        font-size: 15px;
    }

    .more-section {
        padding: 0px 3rem 60px;
        margin-top: 40px;
    }

    .more-heading {
        font-size: 20px;
        line-height: 28px;
    }

    .more-subhead {
        font-size: 14px;
        line-height: 28px;
    }

    .newsletter {
        padding: 30px 1rem;
    }

    .newsletter-head {
        font-size: 25px;
    }

    .newsletter-subhead,
    form input,
    .footer-heading {
        font-size: 14px;
    }

    nav {
        position: static;
    }

    .footer {
        margin: 100px auto 15px;
        column-gap: .5rem;
    }

    .footer div {
        padding: 0px 10px;
    }

    .footer-text {
        font-size: 12px;
    }

    .copyright {
        font-size: 13px;
        padding: 15px 0px;
    }
}

@media screen and (max-width:768px) {
    .menu {
        display: block;
    }

    .show-mobile-links {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 5px 5px 5px #788096;
        padding: 10px 15px;
        right: 15%;
        border-radius: 4px;
        margin-top: 190px;
        transition: all 2s ease;
    }

    .show-mobile-links li {
        list-style-type: none;
    }
    .app-store-img img{
        width: 50%;
    }
    .footer {
        display: block;
        margin: 120px auto 15px;
    }

    .links,
    .nav-item {
        display: none;
    }

    nav {
        position: relative;
        padding: 10px 60px;
    }

    .hero-content {
        width: 85%;
        padding-top: 50px;
    }

    .overview-section {
        position: static;
    }

    .vector-one,
    .vector-two {
        display: none;
    }

    .vector {
        right: 0px;
    }

    .description {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .line-img {
        display: none;
    }

    .card-flex {
        display: block;
        margin: 0 auto;
        width: 80%;
    }

    .card {
        margin-bottom: 20px;
        width: 100%;
    }

    .card .top img {
        width: 100%;
        object-fit: cover;
        height: auto;
    }

    .socials {
        grid-template-columns: repeat(4, 50px);
        justify-content: flex-start;
    }

    .get-app {
        font-size: 28px;
    }

    .get-app-text {
        font-size: 13px;
    }

    .newsletter {
        top: 200px;
    }

    .description {
        padding-bottom: 40px;
    }

    .newsletter-head {
        font-size: 28px;
    }

    .more-section {
        padding: 0px 1rem 60px;
    }

    .more-section .flex {
        display: block;
    }

    .more-heading {
        font-size: 18px;
    }

    .more-subhead {
        font-size: 13px;
        line-height: 24px;
    }

    .service-heading {
        padding-bottom: 20px;
        padding-top: 5px;
    }

    .learn-more-btn {
        padding: 20px 0px;
    }

    .address {
        padding: 0px;
    }

    .service-inner {
        padding-top: 40px;
    }

    .last-section {
        padding-top: 50px;
    }

}


@media screen and (min-width:425px) and (max-width:540px) {
    .logo {
        width: 50%;
    }

    nav {
        padding: 10px 40px;
    }

    .hero-content div {
        width: 100%;
    }

    .hero-content {
        padding-top: 40px;
    }

    .vector {
        display: none;
    }

    .hero-section {
        height: 600px;
    }

    .step-text {
        display: block;
    }

    .step-text div {
        margin-bottom: 10px;
        width: 100%;
    }

    .steps,
    .step-counter {
        display: none;
    }

    .overview-heading {
        font-size: 25px;
    }

    .right {
        display: none;
    }

    form {
        width: 100%;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 6px;
    }

    form input {
        padding-left: 0px;
        width: 140px;
    }

    .footer {
        margin: 200px auto 15px;
    }

    .newsletter {
        padding: 30px 1rem;
    }

    .app-store-img img {
        width: 60%;
    }

}

@media screen and (min-width:200px) and (max-width:420px) {
    .hero-content {
        padding-top: 102px
    }

    .card-info {
        padding: 0px 1.2rem;
    }

    .top {
        height: auto;
    }

    .card {
        height: 450px;
    }

    .blue-btn,
    .transparent-btn {
        font-size: 12px;
        padding: 6px;
    }

    .logo {
        width: 50%;
    }

    .right {
        display: none;
    }

    .hero-content div {
        width: 100%;
    }

    .steps,
    .step-counter {
        display: none;
    }

    .vector {
        display: none;
    }

    .hero-section {
        height: 600px;
    }

    .step-text {
        display: block;
    }

    .step-text div {
        margin-bottom: 10px;
        width: 100%;
    }

    .card-flex {
        width: 100%;
    }

    .service-heading {
        line-height: 30px !important;
    }

    .footer {
        margin: 160px auto 15px !important;
    }

    .app-store-img img {
        width: 50%;
    }

    form {
        width: 220px;
    }

    .newsletter {
        padding: 30px 0.25rem;
    }

    form input {
        font-size: 10px;
        padding: 5px;
    }

    nav {
        position: relative;
        padding: 10px 20px;
    }
}